params {
    gwas_dir = "$projectDir/raw_data"
    manifest = "$projectDir/assets/Manifest_build_translator.tsv"
    
    // Add these two lines pointing to your chain files
    chain_hg18 = "$projectDir/assets/hg18ToHg38.over.chain.gz"
    chain_hg19 = "$projectDir/assets/hg19ToHg38.over.chain.gz"
    
    outdir = "$projectDir/results"
}

// Global Conda Configuration
conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

// Automatically enforce version parity across baseline processes
process {
    // Pins execution to your exact working prototype version
    conda = 'python=3.14 scipy=1.17.1'
    
    errorStrategy = 'ignore'
}